set timeout=3
set default=0

loadfont unicode

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "AUTOINSTALL Ubuntu Server (ERASE LARGEST INTERNAL DISK)" {
    set gfxpayload=keep
    linux /casper/vmlinuz autoinstall ---
    initrd /casper/initrd
}

grub_platform
if [ "$grub_platform" = "efi" ]; then
menuentry "Boot from next volume (do not install)" {
    exit 1
}
menuentry "UEFI Firmware Settings" {
    fwsetup
}
fi
